<footer class="footer b-dark-low b-top">
    <div class="footer-container container centered edges">
        <div class="footer-body mt-10">
        <nav class="nav nav-muted nav-menu-sm"><ul class="nav-list">
        <li class="nav-item "><a href="/" class="nav-link">Orasql.ru</a></li>
        <li class="nav-item "><a href="/" class="nav-link">Учебник</a></li>
        <li class="nav-item "><p class="text-medium text-moderated">Email: orasqlru@gmail.com</p></li>
</ul>
</nav>
</div>
        <div class="footer-copy mt-6 pt-6 b-dark-7 b-top">
            <p class="text-medium text-moderated">© {{ .Site.Params.brand }} <br> 2019-2022</p>
        </div>
    </div>
</footer>
