<div class="navbar bg-dark mb-10" >
    <div class="navbar-container container edges centered">
        <div class="navbar-brand">
            <a href="/" class="brand">
                {{.Site.Params.brand}}
            </a>
        </div>
        
        <div class="navbar-nav ml-6">
            <nav class="nav nav-light nav-semibold">
		      <ul class="nav-list">
                {{ range .Site.Sections }}
		    <li class="nav-item"><a href="/#{{ .Params.id }}" class="nav-link">{{ .Title }}</a></li>
            {{ end }}
                    {{ range .Site.Menus.main }}
		{{ $text := print .Name | safeHTML }}

		        <li class="nav-item"><a href="{{ .URL }}" class="nav-link">{{ $text }}</a></li>
                	{{ end }}
		</ul>
	    </nav>

        </div>
    </div>
</div>
