{{ define "main" }}

    <div class="content">
        {{ range .Sections }}
            {{ if ne .Params.Exclude true }}
            <h2 id="{{.Params.id}}"> {{ .Title }} </h2>
                    {{ range .Sections }}
                        <h3> {{ .Title }} </h3>
                        {{ if .Pages }}
                            <ul>
                                {{ range .Pages }}
                                <li><a href="{{ .Permalink }}"> {{.Title }}</a></li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    {{ end }}
            {{ end }}
        {{ end}}
    </div>
{{ end }}
