{{ define "main" }}
<!-- <div class="hero bg-dark"> -->
<!--         <div class="hero-container py-16 container centered"> -->
<!--             <div class="grid"> -->
<!--                 <div class="hero-image column column-5"> -->
<!--                     <img src="https://mcdn.wallpapersafari.com/medium/68/14/5uyrAp.jpg"> -->
<!--                 </div> -->
<!--                 <div class="hero-content column column-7 px-16 py-10"> -->
<!--                     <div class="hero-head"> -->
<!--                         <h1 class="heading-mega heading-light">Краудфандинг<br class="hidden-sm"> на книгу</h1> -->
<!--                     </div> -->
<!--                     <div class="hero-body container-8 mt-4"> -->
<!--                         <p class="text-light-mid"> Как писать на PL/SQL. Никакого сухого изложения. </p> -->
<!--                     </div> -->
<!--                     <div class="hero-cta mt-12"> -->
<!--                         <a href="" class="button button-light-outline">Learn more</a> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!-- </div> -->






<!-- <div class="hero pt-20 pb-25 mb-10 bg-dark"> -->
<!--         <div class="hero-container container centered edges pt-10 pb-15 grid"> -->
<!--             <div class="hero-content column column-6"> -->
<!--                 <div class="hero-eyebrow mb-12"> -->
<!--                     <h6 class="heading-tagline heading-light">Книга</h6> -->
<!--                 </div> -->
<!--                 <div class="hero-head"> -->
<!--                     <h1 class="heading-mega heading-light">PL/SQL<br class="hidden-sm"> на производстве</h1> -->
<!--                 </div> -->
<!--                 <div class="hero-cta mt-12"> -->
<!--                     <a href="" class="button button-light">Подробнее</a> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="hero-box pt-20 column column-6"> -->
<!--                 <div class="grid grid-2 gap-10 gutter-14"> -->
<!--                     <div class="hero-item column"> -->
<!--                         <div class="hero-item-head"> -->
<!--                             <p class="text-medium text-light text-strong">Лучшие практики</p> -->
<!--                         </div> -->
<!--                         <div class="hero-item-body mt-2"> -->
<!--                             <p class="text-medium text-light-mid">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="hero-item column"> -->
<!--                         <div class="hero-item-head"> -->
<!--                             <p class="text-medium text-light text-strong">Работа с современными фреймворками</p> -->
<!--                         </div> -->
<!--                         <div class="hero-item-body mt-2"> -->
<!--                             <p class="text-medium text-light-mid">Логгирование при помощи logger и юнит-тесты на utPl/SQL</p> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="hero-item column"> -->
<!--                         <div class="hero-item-head"> -->
<!--                             <p class="text-medium text-light text-strong">Организация кода</p> -->
<!--                         </div> -->
<!--                         <div class="hero-item-body mt-2"> -->
<!--                             <p class="text-medium text-light-mid">Qui autem de summo bono dissentit de ratione dissentit.</p> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
	{{ range .Sections }}
		{{ partial "sectionname.html" . }}
		<div class="box-container container edges centered">
			<div class="grid mb-10">
				{{ range .Sections }}
					{{ partial "sectionblock.html" . }}
				{{ end }}
			</div>
		</div>

	{{ end }}
{{ end }}
